<!-- Validation failure messages -->
<% if @cofounding.errors.any? %>
  <% @cofounding.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Cofounding</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_cofounding" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for founder_id -->
      <div class="form-group">
        <label for="founder_id" class="control-label">
          Founder
        </label>

        <input type="text" id="founder_id" name="founder_id" placeholder="Founder" class="form-control" value="<%= @cofounding.founder_id %>">
      </div>

      <!-- Label and input for startup_id -->
      <div class="form-group">
        <label for="startup_id" class="control-label">
          Startup
        </label>

        <input type="text" id="startup_id" name="startup_id" placeholder="Startup" class="form-control" value="<%= @cofounding.startup_id %>">
      </div>

      <button class="btn btn-success">
        Create Cofounding
      </button>
      or
      <a href="/cofoundings">Cancel</a>
    </form>
  </div>
</div>
